<div class="contact-section">
    <h2 class="contact-title">CONTACT US</h2>

    <div class="contact-info">
        <div class="contact-item">
            <span class="icon">📞</span>
            <span class="text">
                <b (click)="makeCall()">+91 92711 14213</b><br>
                <b (click)="makeCall2()">+91 92711 14620 </b><br>
                <b (click)="makeCall1()">+91 92711 14209</b>
            </span>
        </div>

        <div class="contact-item">
            <span class="icon">✉️</span>
            <span class="text" (click)="makeemail()">{{email}}</span>
        </div>

        <div class="contact-item">
            <span class="icon">📍</span>
            <span class="text">
                Department of Technology, <br />
                Savitribai Phule Pune University, <br />
                Ganeshkhind Road, Pune - 411 007
            </span>
        </div>

        <div class="contact-item">
            <span class="icon">🌐</span>
            <span class="text">
                <a (click)="openlink()" target="_blank">https://campus.unipune.ac.in/ccep/login.aspx</a>
            </span>
        </div>
        <div class="mt">

        </div>
    </div>
</div>