<section>
    <div class="career-support">
        <h2 class="career-title">Our Top Recruiters</h2>
        <p class="career-description">
            TATA, Onward Technologies, Credenca, GAVS Linecraft, Extentia,
            Infosys,Jade Global, Philips, Qspider, Sgurr Energy & More !
        </p>

        <p-carousel class="custom-carousel" [value]="images" [numVisible]="5" [numScroll]="1" [circular]="true"
            [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
            <ng-template pTemplate="item" let-image>
                <div class="carousel-item">
                    <img [src]="image" alt="Student Image" />
                </div>
            </ng-template>
        </p-carousel>
    </div>
</section>