.mobile-buttons {
    display: none;
}

@media (max-width: 768px) {
    .mobile-buttons {
        position: fixed;
        bottom: -9px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 10px 0;
        z-index: 9999;
    }

    .mobile-buttons .apply-btn {
        font-size: 1rem;
        padding: 10px 16px;
        /* border-radius: 5px; */
        text-decoration: none;
        color: white;
        cursor: pointer;
        border: none;
        transition: 0.3s ease;
        flex: 1;
        /* max-width: 150px; */
        text-align: center;
        animation: blink 1.5s infinite;
    }

    .mobile-buttons .call-btn {}

    .mobile-buttons .apply-btn {
        background-color: #28a745;
    }

    .mobile-buttons .call-btn {
        background-color: #007bff;
    }

    .mobile-buttons .apply-btn:hover {
        background-color: #218838;
    }

    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0.4;
        }
    }
}