<section class="admission-section">
    <div class="admission-banner">
        <div class="navbar">
            <img src="../../../assets/logo/sppu-logo.png" class="navbar-logo" alt="SPPU Logo" />
            <img src="../../../assets/logo/dot-tech.png" class="navbar-logo" alt="DoT Logo" />
        </div>

        <div class="overlay"></div>

        <div class="content">
            <h1>ADMISSIONS OPEN 2025-26</h1>
            <button (click)="applynow()" class="apply-btn">APPLY NOW</button>
        </div>
    </div>
</section>