<div class="container">
    <div class="namesection">
        <!-- <h1 class="university-name">SAVITRIBAI PHULE PUNE UNIVERSITY</h1> -->
        <h2 class="department">We, Savitribai Phule Pune University Department of Technology, offer the following
            courses :</h2>
        <!-- <h3 class="graduate-degree">GRADUATE DEGREE IN</h3> -->
    </div>

    <div class="content">
        <!-- Course Details -->
        <div class="course-details">
            <!-- <h2>COURSES :</h2> -->
            <p class="course-list">
                <b>BSc Data Science (3 + 1 Years)</b> <br>
                <b>Advanced Course in Data Science & AI</b><br>
                <b>MSc Data Science (2 Years)</b> <br>
            </p>
        </div>

        <!-- Key Features -->
        <div class="key-features">
            <h2>Why Choose Us ?</h2>
            <ul>
                <li>✅ <b>100% Placement Assistance with Top Companies.</b></li>
                <li>✅ <b>Learn from Expert Faculty & AI Professionals</b></li>
                <li>✅ <b>Hands-on Training & Real-World Projects</b></li>
                <li>✅ <b>Exposure to Industrial Challenges</b></li>
                <li>✅ <b>Industry-Focused Curriculum</b></li>
                <li>✅ <b>Project Based Learning</b></li>
                <li>✅ <b>Practical Laboratory</b></li>
            </ul>
        </div>
    </div>
</div>