/* You can add global styles to this file, and also import other style files */
/* Global font setup */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}